html{
	transition: background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out;
	scroll-behavior: smooth;
	overflow-y: overlay;/*for scrollbar absolute positioning*/
	font-family: Verdana;
}
body{
	margin: 0;
	justify-content: center;align-content: center;align-items: center;text-align: center;
	background-color: gainsboro;
}
a{text-decoration: none;}
input,select,textarea{font-family: inherit;}
label{cursor: pointer;}
.flexDisplay{display: flex;justify-content: center;align-items: center;align-content: center;flex-wrap: wrap;}
.noDisplay{display: none;}
label{user-select: none;}
.sideHeading{opacity: 0.6;}
::-webkit-scrollbar{
	width: 10px;border-radius: 10px;
}
::-webkit-scrollbar-thumb{
	background: rgba(170,90,220,1);
}
::-webkit-scrollbar-track{
	background: rgba(200,200,200,0.7);
}
::-webkit-scrollbar-thumb:hover{
	background: rgba(70,50,120,1);
}
.loaderButton{
	height:20px;width: 20px;background-color: green;animation: rotate 1s infinite linear;margin: auto;padding: auto; 
}
.basicButton,.basicButtonOuter,.redButton,.redButtonOuter,.greenButton,.greenButtonOuter, .submitButton, .closeButton,#loginButton{
	border: none;
	font-size: medium;
	color: white;
	padding: 5px;border-radius: 10px;margin: 5px;
	width: 100px;
	cursor: pointer;
	background-position: center;
	transition: background 0.3s;
}
.basicButton:hover,.basicButtonOuter:hover,.redButton:hover,.redButtonOuter:hover,.greenButton:hover,.greenButtonOuter:hover,.submitButton:hover, .closeButton:hover,#loginButton:hover{
	background: gray radial-gradient(circle, transparent 1%, gray 1%) center/20000%;
}
.basicButton:active,.basicButtonOuter:active,.redButton:active,.redButtonOuter:active,.greenButton:active,.greenButtonOuter:active,.submitButton:active, .closeButton:active,#loginButton:active{
	background-color: grey;
	background-size: 1%;
	transition: background 0s;
}
.basicButton{background-color: mediumpurple;border: 1px solid mediumpurple;}
.basicButtonOuter{border: 1px solid mediumpurple;color: black;}
.redButton{background-color: indianred;border: 1px solid indianred;}
.redButtonOuter{background-color: none;border: 1px solid indianred;color: black;}
.greenButton{background-color: forestgreen;border: 1px solid forestgreen;}
.greenButtonOuter{background-color: none;border: 1px solid forestgreen;color: black;}
.basicButton:hover{background-color: rebeccapurple;}
.basicButtonOuter:hover{background-color: rebeccapurple;color: white;}
.redButton:hover{background-color: darkred;}
.redButtonOuter:hover{background-color: darkred;color: white;}
.greenButton:hover{background-color: darkgreen;}
.greenButtonOuter:hover{background-color: darkgreen;color: white;}
.smallButton{padding: 5px;width: auto;}
/*Login Page*/
#loginForm, #signupForm{animation: fade 1s ease-in-out;}
#signupForm{display: none;}/*Hidden by default*/
.errorMessage{color: red;animation: fade 0.5s ease-in-out;position: relative;}
.errorMessageShake{color: red;animation: shake 0.5s ease-in-out;position: relative;}
.successMessage{color: green;animation: fade 0.7s ease-in-out;}
.bufferMessage{color: blue;animation: fade 0.7s ease-in-out;}
.headingName{font-size: x-large;margin: 0px 0px 15px 0px;}
#loginButton, #signupButton, #toggleSignupButton, #toggleLoginButton{
	border: none;
	font-size: medium;
	color: white;background-color: rgba(20, 110, 20, 0.8);
	padding: 10px;border-radius: 10px;margin: 5px;
	width: 100px;
	cursor: pointer;
}
#loginButton:hover, #signupButton:hover{background-color: rgba(20, 110, 20, 1.0);}
#toggleSignupButton, #toggleLoginButton{
	background-color: rgba(70, 30, 120, 0.7);
}
#toggleSignupButton:hover, #toggleLoginButton:hover{background-color: rgba(70, 30, 120, 1.0);}
#headerLoginPage{
	position: fixed;left: 0;right: 0;top: 0;
	display: flex;justify-content: center;
	align-items: center;align-content: center;
	margin: 0;padding: 20px 10px;
	background-color: grey;color: white;
	box-shadow: 0 0 10px 3px rgba(50, 50, 50, 1.0);z-index: 3;
}
.inputStyleLoginPage{
	transform: scale(1.2);
	border: none;
	background-color: rgba(220, 220, 220, 0.7);
	padding: 10px;margin: 5px;
	border-radius: 5px;
}
.showPasswordCheckLabel{z-index: 1;position: absolute;transform: scale(1.5);margin-left: -15px;margin-top: 10px;text-decoration: line-through;}
/*Home Page*/
#editExpensesOuterDiv, #deleteExpensesOuterDiv, #profileOuterDiv, #editProfileOuterDiv, .editOuterDiv{
	position: fixed;top: 0;left: 0;right: 0;
	width: 100%;height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 3;
}
#editExpensesInnerDiv, #deleteExpensesInnerDiv, #profileInnerDiv, #editProfileInnerDiv, .editInnerDiv{
	position: fixed;
	top: 10%;left: 25%;
	width: 50%;max-height: 80%;
	padding: 20px;border-radius: 10px;
	background-color: rgba(240, 240, 240, 1.0);
	overflow: auto;
}
#expenseFormOtherDataShow, #incomeFormOtherDataShow{
	display: none;animation: fade 1s ease-in-out;
}
.hideButton{font-size: large;}
#header{
	position: fixed;left: 0;right: 0;top: 0;
	display: flex;justify-content: center;
	align-items: center;align-content: center;
	margin: 0;padding: 20px 10px;
	background-color: grey;color: white;
	box-shadow: 0 0 10px 3px rgba(50, 50, 50, 1.0);z-index: 3;
}
#headerName{
	font-size: large;
	user-select: none;
	cursor: pointer;
}
#headerName:hover{color: palegreen;}
#headerName:hover .headerIconShow{visibility: visible;}
.headerIconShow{visibility: hidden;}
#logoutButton, .closeButton, #aboutButton, #aboutLoginButton{
	text-decoration: none;border: none;
	color: white;background-color: rgba(255, 69, 0, 0.8);
	font-size: medium;
	padding: 10px;border-radius: 10px;
	cursor: pointer;
}
#logoutButton{
	position: absolute;right: 20px;top: 10px;
	color: white;background-color: rgba(255, 69, 0, 0.0);
}
#logoutButtonSmall{display: none;width: auto;margin: auto;font-size: small;}
#aboutLoginButton{
	position: absolute;right: 20px;top: 10px;
}
#aboutLoginButton:hover{
	background-color: rgba(255, 69, 0, 1.0);	
}
#aboutButton{
	position: absolute;left: 20px;top: 10px;	
	color: white;background-color: rgba(59, 69, 79, 0.0);
}
#aboutButton:hover{color: white;background-color: rgba(59, 69, 79, 0.8);}
#logoutButton:hover{background-color: rgba(255, 69, 0, 1.0);}
.closeButton{background-color: rgba(255, 0, 0, 0.8);}
.closeButton:hover{background-color: rgba(255, 0, 0, 1);}
.confirmButton{background-color: rgba(0, 180, 0, 0.8);}
.confirmButton:hover{background-color: rgba(0, 180, 0, 1);}
#content{
	width: 50%;
	margin: auto;margin-top: 60px;
}
#contentDashboard, #contentExpenseForm, #contentIncomeForm, #contentGreetings, #contentLogin, #contentAbout, #contentShortSummaryForm, #dateShow, #contentAnalysisForm, #contentGraphForm, #allDetailsDiv{
	background-color: rgba(245, 245, 245, 1.0);
	border-radius: 10px;
	padding: 20px 10px 10px 10px;
	margin: 10px;
}
#allDetailsDiv{
	padding: 0;
	margin: 0 10px;
}
#contentGreetings{
	padding: 10px;
	background-color: rgba(70, 50, 170, 1.0);color: white;
	animation: fadeWithDelayDown 0.5s ease-in-out;
	border-radius: 0px 0px 20px 20px;
	cursor: pointer;
}
#dateShow{
	position: absolute;width: 60vw;left: calc(20vw - 10px);top: 55px;
	animation: downLater 6s ease-in-out;
	padding: 0px; margin: -10px 10px 0px 10px; visibility: hidden;
	background-color: rgba(70, 150, 70, 1.0);color: white;
	max-height: 0px;
}
#contentGreetings:hover{background-color: rgba(50, 30, 150, 1.0);}
#contentDashboard{animation: Zoom 2s ease-in-out;padding: 0;margin-top: 5px;}/*Removed max-height: 500px;*/
#contentExpenseForm{animation: fadeWithDelay 1.0s ease-in-out;}
#contentIncomeForm{animation: fadeWithDelay 1.25s ease-in-out;}
#contentShortSummaryForm{animation: fadeWithDelay 1.5s ease-in-out; }
#contentAnalysisForm{animation: fadeWithDelay 1.75s ease-in-out;}
#contentGraphForm{animation: fadeWithDelay 2s ease-in-out;}
#contentAbout{animation: fadeWithDelay 2.1s ease-in-out;}
#dashBoard{
	display: inline-block;
	justify-content: center;align-content: center;align-items: center;
}
#dashBoardExpense, #dashBoardIncome, #dashBoardBudget{
	/*background-color: rgba(180, 180, 180, 0);
	box-shadow: 0 0 5px 1px rgba(150, 150, 150, 1.0);
	*/border-radius: 10px;border: none;
	margin: 10px;
	font-size: medium;
	cursor: pointer;
}
/*#dashBoardExpense:hover, #dashBoardIncome:hover, #dashBoardBudget:hover{
	box-shadow: 0 0 10px 2px rgba(150, 150, 150, 1.0);
}
#dashBoardExpense:focus, #dashBoardIncome:focus, #dashBoardBudget:focus{
	background-color: rgba(240, 240, 240, 1.0);
}*/
#dashBoardBudget{
	display: inline-flex;
}
#marquee{
	display: flex;
	font-size: medium;
	justify-content: center;
	overflow: auto;
	animation: marquee 2.5s ease-in-out;
}
.marqueeDiv{
	width: 33%;
	background-color: rgba(255, 255, 255, 1.0);
	/*box-shadow: 0 0 5px 1px rgba(150, 150, 150, 1.0);*/
	border-radius: 10px;border: none;
	font-size: medium;
	padding: 10px 5px;margin: 5px;
}
/*.inlineSeparator{
	border: 1px solid rgba(100, 150, 210, 0.5);
	width: 0.5px; background-color: rgba(100, 150, 210, 0.5);
	margin: 0 10px;
}*/
.inlineBlockDiv{
	display: inline-block;
}
.inputStyle{
	border: none;
	background-color: rgba(220, 220, 220, 0.7);
	padding: 10px;margin: 5px;
	font-size: large;
	border-radius: 5px;
}
.submitButton{
	font-size: medium;
	padding: 10px;
	border: none;border-radius: 10px;
	background-color: rgba(90, 50, 150, 0.8);color: white;
	cursor: pointer;
}
.submitButton:hover{background-color: rgba(90, 50, 150, 1.0);}
.expensesList, .incomesList, .expensesListHeading, .expensesListMainHeading, .expensesSubList, .expensesSubLowerList, .expensesSearchList, .budgetList{
	background-color: rgba(230, 230, 230, 1.0);
	border-radius: 10px;
	margin: 5px;padding: 10px;
	text-align: left;
	display: flex;justify-content: space-between;
	cursor: pointer;
}
.subDetailsButton{cursor: pointer;}
.expensesListMainHeading{
	background-color: rgba(70, 50, 170, 1.0);color: white;
}
.expensesListHeading{
	background-color: rgba(100, 80, 200, 1.0);color: white;
}
.expensesList{
	background-color: rgba(230, 210, 210, 1.0);
}
.expensesList:hover{
	background-color: rgba(200, 180, 180, 1.0);
}
.incomesList{
	background-color: rgba(210, 230, 210, 1.0);
}
.incomesList:hover{
	background-color: rgba(180, 200, 180, 1.0);
}
.expensesSubList{
	background-color: rgba(230, 230, 230, 1.0);
}
.expensesSubList:hover{
	background-color: rgba(210, 210, 210, 1.0);
}
.expensesSubLowerList{
	background-color: rgba(250, 250, 250, 1.0);
	cursor: text;
}
.budgetList, .expensesSearchList{
	background-color: rgba(210, 210, 230, 1.0);
	cursor: text;	
}
.listHeadingName, .listMainHeadingName{font-size: large;margin-top: auto;margin-bottom: auto;}
.listMainHeadingName{font-size: x-large;}
.expensesEditButton, .expensesDeleteButton, .editButton{
	border: none;cursor: pointer;
	border-radius: 10px;
	background-color: rgba(160, 160, 160, 0.8);color: white;
	padding: 7px;
	font-size: medium;
}
.editButton{margin: 5px;}
.editTextArea{
	border-radius: 10px;
	background-color: rgba(200, 200, 200, 0.7);
	border: none;
	padding: 10px;
}
.expensesEditButton:hover, .editButton:hover{background-color: rgba(140, 140, 140, 1.0);}
.expensesDeleteButton{background-color: rgba(180, 40, 40, 0.8);}
.expensesDeleteButton:hover{background-color: rgba(200, 40, 40, 1.0);}
#incomeListDiv, #expensesListDiv, #budgetListDiv{
	animation: fadeZoom 1s ease-in-out;
	max-height: 1000px;
	overflow: auto;
}
.arrowDiv{
	display: flex;padding: 0 10px;
}
.rightArrow, .rightDoubleArrow{
	width: 10px; height: 10px;margin: 5px 10px;
	border-right: 4px solid rgba(100, 100, 100, 1.0);border-bottom: 4px solid rgba(100, 100, 100, 1.0);
	transform: rotate(-45deg);
}
.rightDoubleArrow{
	margin: 5px 0;
}
#utilityDiv{
	display: flex;flex-wrap: wrap;
	justify-content: center;
	/*animation: fadeWithDelay 2s ease-in-out;
	background-color: rgba(240, 240, 240, 1.0);*/
	border-radius: 10px;
	overflow: auto;
}
.searchButton{
	border: none;border-radius: 20px;
	padding: 10px;margin: 10px;
	font-size: medium;
	cursor: pointer;
	background-color: rgba(230, 230, 230, 1);opacity: 1;
	animation: Zoom3 2s ease-in-out;
}
.filterButton,.searchButton{border: solid rgba(120, 200, 200, 1);border-width: 5px 20px 5px 20px;}
.expenditureButton{border: solid rgba(230, 120, 120, 1);border-width: 5px 20px 5px 20px;}
.incomeButton{border: solid rgba(120, 230, 120, 1);border-width: 5px 20px 5px 20px;}
.budgetButton{border: solid rgba(120, 120, 230, 1);border-width: 5px 20px 5px 20px;}
#searchDiv, #filterDiv, #statementDiv{
	display: none;
	padding: 10px;
	animation: fadeZoom1 1s ease-in-out;
	max-height: 10000px;
	overflow: auto;
	background-color: rgba(235, 235, 235, 1.0);border-radius: 10px;
}
#filterContentDiv, #searchContentDiv{
	background-color: rgba(220, 240, 240, 1.0);
	text-align: left;
	border-radius: 10px;
}
#filterHeadingDiv, #searchHeadingDiv{
	padding: 10px 20px;
}
#searchResults{
	animation: fadeZoom1 1s ease-in-out;
	max-height: 1000px;
	overflow: auto;
}
.searchButton:hover{background-color: rgba(120, 200, 200, 1.0);color: white;opacity: 1;}
.expenditureButton:hover{background-color: rgba(230, 120, 120, 1.0);color: white;opacity: 1;}
.incomeButton:hover{background-color: rgba(120, 230, 120, 1.0);color: white;opacity: 1;}
.budgetButton:hover{background-color: rgba(120, 120, 230, 1.0);color: white;opacity: 1;}
.searchBar, .filterInputDate{
	padding: 10px;margin: 5px;
	background-color: rgba(220, 220, 220, 1.0);
	font-size: medium;
	border-radius: 10px;border: none;
	font-family: Verdana;
}
.searchBar{
	width: 80%;
}
.filterInputs{display: inline-block;}
.expenseErrorMessage, .incomeErrorMessage{margin: 5px;}
#footer{
	margin-top: 500px;box-shadow: 0 0 5px 2px grey;background-color: rgba(70, 50, 180, 0.3);width: 100%;padding: 50px 0;
}
.coolButtonFooter{
	display: inline-block;color: black;padding: 5px;border-radius: 10px;cursor: pointer;
}
.coolButtonFooter:hover{background: linear-gradient(to right, rgba(150,0,180,1), rgba(100,150,250,1));color: white;}
/*Calculater*/
#calcIcon{
	position: fixed;
	cursor: pointer;
	margin: 20px 20px 30px 20px;padding: 15px 20px 15px 10px;
	right: 0; bottom: 0;z-index: 3;
	width: 25px; height: 25px;
	border-radius: 50%;
	background-color: rgba(140,60,190,1);color: white;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1.0);
}
#calcIcon:hover{background-color: rgba(100,20,150,1);}
#calcDiv{
	display: none;
	padding-top: 50px;
	position: fixed;z-index: 4;
	background-color: rgba(0, 0, 0, 0.4);
	left: 0;top: 0;right: 0;bottom: 0;
}
#calcOuterDiv{
	display: none;
	position: fixed;z-index: 5;
	width: 100%;
}
#calcInnerDiv{
	background-color: rgba(180, 180, 180, 1.0);
	width: 50%;margin: auto;
	border-radius: 10px;
	padding: 10px;
	margin-left: -0%;
}
.calcVButtons{
	background: none;
	border: none;
	font-size: xx-large;
	cursor: pointer;
}
.calcVHelper{color: lightseagreen;}
#calcHelperButtons{display: none;}
#dataCaption{
	font-size: x-small;
	opacity: 0.5;padding: 0;margin: 0;
	text-align: right;
}
#analysisDiv{
	overflow: auto;
	max-height: 70vh;
}
.tableContainer{
	overflow: auto;
	padding: 5px;
	text-align: center;
	max-height: 1000px;
}
td, th{background-color: gainsboro;white-space: nowrap;padding: 10px;border: 1px solid white;}
th{background-color: lightblue;}
.calcTable{
	margin-left: auto;margin-right: auto;
}
.calcVSubmit{color: green;}
.calcTable td{
	padding: 15px;
}
.calcCancel{
	color: orangered;
}
.analysisTable{
	border-collapse: collapse;
	margin-left: auto;margin-right: auto;
}
.analysisTable td{
	column-width:200px;
	white-space:normal;
}
.analysisSubDiv{
	width: 50%;
	border: 1px solid;
	padding: 10px;
}
/*content-graph*/
#contentGraphForm{padding: 20px 30px;}
.graphDiv{width: calc(95% - 50px);overflow: auto;padding: 5px 50px;}
.graphArea{
	height: 200px;width: 200%;border-width: 0 0 1px 0;border-style: solid;margin: auto;padding: 20px 0 0 0; margin-bottom: 20px;animation: Zoom2 1s ease-in-out;
}
.graphGrid{
	display: flex;justify-content: space-between;cursor: pointer;
}
.graphGridLines{
	border-right: 1px solid rgba(200, 200, 200, 0.3);height: 200px;writing-mode: vertical-rl;text-orientation: upright;width: calc( 400px / 31 );animation: marquee2 2s ease-in-out;
}
.graphXAxis{
	display: flex;justify-content: space-between;margin: 5px;
}
.graphGridLines:hover .graphXAxisLabel{transform: scale(2);}
.graphXAxisLabel{font-size: small;width: calc( 400px / 31 );}
.graphYAxisLabel{font-size: small;color: red;width: calc( 400px / 31 );margin-left: -50px;opacity: 1;margin-top: -2px;z-index: 2;}
.graphValueText{background-color: rgba(50, 50, 50, 1.0);color: white;display: none;border-radius: 10px;}
.graphDescription{justify-content: space-around;}
.graphMonthName{border-bottom:1px solid;padding:7px;display:flex;}
#addWalletData,#allWalletList,#addMoneyToWallet{display: none;animation: Zoom2 0.4s ease-in-out;}
#currentWallets{overflow: auto;display: flex;justify-content: center;flex-wrap: wrap;}
.eachCurrentWallet{border-right: 1px solid gainsboro;padding: 20px 10px;margin: 5px;display: block;background-color: rgba(50, 250, 50, 0.2);border-radius: 20px;}
#walletActionDiv{animation: fadeWithDelay 3s ease-in-out;display: flex;justify-content: flex-end;}
#walletHistory{display: none;}
#walletButtons{display:none}

@keyframes fade{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes shake{
	0%{left: 3px;}
	12.5%{left: -3px;}
	25%{left: 3px;}
	37.5%{left: -3px;}
	50%{left: 2px;}
	62.5%{left: -2px;}
	75%{left: 1px;}
	87.5%{left: -1px;}
	100%{left: 0px;}
}
@keyframes fadeZoom{
	0%{opacity: 0;max-height: 70px;}
	100%{opacity: 1;}
}
@keyframes fadeZoom1{
	0%{opacity: 0;max-height: 0px;}
	100%{opacity: 1;}
}
@keyframes Zoom{
	0%{max-height: 0px;opacity: 0;}
	50%{opacity: 0;max-height: 0;}
	60%{opacity: 1;}
}
@keyframes Zoom2{
	0%{opacity: 0;}
	50%{opacity: 0;transform: scale(0.3) translateX(10px);}
	60%{opacity: 1;}
}
@keyframes Zoom3{
	0%{transform: scale(0);opacity: 0;}
	12.5%{opacity: 0;}
	50%{transform: scale(0.1) translateX(10px);}
	60%{opacity: 1;transform: scale(0.9);}
	70%{transform: scale(0.6);}
	80%{transform: scale(0.95);}
	90%{transform: scale(0.75);}
}
@keyframes fadeWithDelay{
	0%{opacity: 0;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes fadeWithDelayDown{
	0%{opacity: 0;}
	50%{opacity: 0;margin-top: -100px}
	100%{opacity: 1;}
}
@keyframes rotate{
  0%{transform: rotate(0deg);background-color: limegreen;}
  50%{transform: rotate(180deg);background-color: orangered;border-radius: 50%;opacity: 0.5;}
  100%{transform: rotate(360deg);background-color: limegreen;}
}
@keyframes marquee{
	0%{transform: translate3d(7000px, 0px, 0px) scale(0.3);background-color: black;}
	70%{transform: translate3d(0px, 0px, 0px) scale(0.3);}
	100%{transform: translate3d(0px, 0px, 0px);}
}
@keyframes marquee2{
	0%{transform: translate3d(50px, 0px, 0px) scale(0.0);background-color: black;}
	50%{transform: translate3d(0px, 0px, 0px) scale(0.0);}
	100%{transform: translate3d(0px, 0px, 0px);}
}
@keyframes downLater{
	0%{max-height: 0px;visibility: hidden;opacity: 0;margin: -10px 10px 0 10px; padding: 0;}
	40%{max-height: 0px;visibility: visible;opacity: 0;margin: -10px 10px 0 10px; padding: 0;}
	43%{max-height: 500px;padding: 10px; margin: 5px 10px;visibility: visible;opacity: 1;}
	97%{max-height: 500px;padding: 10px; margin: 5px 10px;visibility: visible;}
	100%{max-height: 0px;visibility: visible;}
}

/*Mobile View*/
@media only screen and (max-width: 1160px){
	.searchButton{padding: 10px;margin: 2px;}
	#calcHelperButtons{display: block;}
	#calcSubmitBigScreen{display: none;}
}
@media only screen and (max-width: 960px){
	#content{width: 100%;}
	#footerDiv{width: 100%;}
	#editExpensesInnerDiv, #deleteExpensesInnerDiv, #profileInnerDiv, #editProfileInnerDiv{
		width: 85%;
		left: 5%;
	}
	#dateShow{width: 97vw;left: -10px}
	#calcInnerDiv{width: 80%;margin:auto;}
	.editButton{padding: 5px;font-size: small;}
	.searchButton{padding: 5px;margin: 2px;}
	/*#analysisDiv{padding: 10px;}*/
	#utilityDiv .searchButton{font-size: small;}
	.summaryTime{font-size: small;}
	.graphArea{width: 500%;}
	#aboutButtonDiv{display: none;}
	#header{justify-content: space-between;}
	#logoutButton{display: none;}
	#logoutButtonSmall{display: block;}
}